.mainfooter {
    width: 100%;
    background-color: $black; 
    color: $white; 
    padding: 20px; 
    margin-top: 20px; 
    font: 100% $headingfont;
    font-weight: normal;
    text-align: center; 
    
}
.foot {
    font-weight: bold; 
    color: $colorone; 
}