.mainheader {
    display: grid; 
    background-color: #fff; 
    color: #000; 
    padding: 0; 
}
#headlogo {
    grid-area: hlogo;
}
#hlogo {
    width: 100%;
    max-width: 400px; 
}
#headnavbig {
    grid-area: bnav; 
    max-width: 100%; 
}
#headnavbig ul { 
    text-align: right;  
    list-style-type: none; 
    margin: 0; padding: 0; 
    overflow: hidden;   }
#headnavbig li { 
    display: inline; 
    padding: 14px 16px;  }
#headnavbig a { 
    color: #000; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-size: 1.2em; }
#headnavbig a:hover {
    color: #000; }

#headnavsmall {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
    background-color: #000; 
    color: #fff; 
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;  
}
#headnavsmall .closebtn { 
    position: absolute; 
    top: 0; 
    right: 5%; 
    font-size: 30px; 
    margin-left: 10px; }
#headnavsmall li { 
    padding: 5% 0% 0% 5%; 
    margin: 5% 0%; } 
#headnavsmall ul { 
    list-style-type: none; }  
#headnavsmall a { 
    color: #fff; 
    text-decoration: none; 
    font-size: 1.5em; }

#navbtn {
    grid-area: snav;
    max-width: 100%; 
    color: #000; 
    font-size: 150%;   
    text-align: right; 
    padding-left: 10px;  
    padding-top: 8px; 
    justify-self: left;
}



/*Big screen-sizes*/
@media screen and (min-width:950px) { 
    #navbtn, #headnavsmall {
        display: none; }
    .mainheader {
        grid-template-columns: 30% 70% ;
        grid-template-areas: 
        "hlogo bnav"; }
}

/*Medium screen-sizes*/
@media screen and (min-width:500px) and (max-width: 949px) { 
    #headnavbig { 
        display: none; } 
    .mainheader {
        grid-template-columns: 20% 10% 40% 30%;
        grid-template-areas: 
        "snav . hlogo ."; }
}

/*Small screen*/ 
@media screen and (max-width: 499px) and (min-width: 200px)  { 
    #headnavbig { 
        display: none; }
    .mainheader {
        grid-template-columns: 20% 60% 20%;
        grid-template-areas: 
        "snav hlogo ."; }
}  